body{
    margin: 0;
    padding: 0;
    background-color: #161a1f;
    font-family: 'Roboto', sans-serif;
}

#vanta-canvas{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    opacity: 0.5;
}